@using Microsoft.AspNet.Identity

<nav class="navbar navbar-expand-sm navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Coffee<small>Blend</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item @(ViewBag.CurrentAction == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item @(ViewBag.CurrentAction == "Menu" ? "active" : "")">@Html.ActionLink("Menu", "Menu", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item @(ViewBag.CurrentAction == "Services" ? "active" : "")">@Html.ActionLink("Services", "Services", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item @(ViewBag.CurrentAction == "Blog" ? "active" : "")">@Html.ActionLink("Blog", "Blog", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item @(ViewBag.CurrentAction == "About" ? "active" : "")">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="shopDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                    <div class="dropdown-menu" aria-labelledby="shopDropdown">
                        @Html.ActionLink("Shop", "Shop", "Buy", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Cart", "Cart", "Buy", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Checkout", "Checkout", "Buy", null, new { @class = "dropdown-item" })
                    </div>
                </li>

                <li class="nav-item @(ViewBag.CurrentAction == "Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>

                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        @if (User.IsInRole("admin"))
                        {
                            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hello, @User.Identity.GetUserName()!
                            </a>
                            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                @Html.ActionLink("Admin Dashboard", "AdminDashboard", "Account", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Change Password", "ChangePassword", "Account", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("View Products", "ViewAllProducts", "Account", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Set Discount", "DiscountPage", "Account", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Set Delivery Cost", "DeliveryPage", "Account", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Users", "OtherUsers", "Account", null, new { @class = "dropdown-item" })


                            </div>
                        }
                        else
                        {
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hello, @User.Identity.GetUserName()!
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                @Html.ActionLink("Client Profile", "ClientProfile", "Account", new { Id = User.Identity.GetUserId() }, new { @class = "dropdown-item" })

                                @Html.ActionLink("Change Password", "ChangePassword", "Account", null, new { @class = "dropdown-item" })
                            </div>
                        }
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link" })
                    </li>
                }
                else
                {
                    <li class="nav-item @(ViewBag.CurrentAction == "Register" ? "active" : "")">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })</li>
                    <li class="nav-item @(ViewBag.CurrentAction == "Login" ? "active" : "")">@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link" })</li>
                }

                <!-- Cart link -->
                <li class="nav-item cart">
                    <a href="@Url.Action("Cart","Buy")" class="nav-link">
                        <span class="icon icon-shopping_cart"></span>
                        <span class="bag d-flex justify-content-center align-items-center">
                            <small id="cart-item-count"></small>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>