@model handmadeShop.Web.Models.UserModel
@{
    ViewBag.Title = "OrdersDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["RenderNavbar"] = false;

}

<section class="ftco-section ftco-cart">
    <a style="margin-left:1150px" href="javascript:history.back()" class="btn btn-primary">Back to Previous Page</a>
    <div class="container">
        <h2>Orders:</h2>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    @if (Model.Orders.Count > 0)
                    {
                    <table class="table" style="background-color: white;">
                        <thead class="thead-primary">
                            <tr class="text-center">

                                <th>Order ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Buying Time</th>
                                <th>Total Sum</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="cart-items-body">
                            @foreach (var order in Model.Orders)
                            {
                            <tr class="text-center">
                                <td>@order.Id</td>
                                <td>@order.FirstName</td>
                                <td>@order.LastName</td>
                                <td>@order.PhoneNumber</td>
                                <td>@order.Email</td>
                                <td>@(order.Address), @(order.City), @(order.Country) - @(order.PostCode)</td>
                                <td>@order.BuyingTime</td>
                                <td>@order.TotalSumToPay</td>
                                <td>
                                    <a class="btn btn-primary" href="@Url.Action(" ItemsBought", "Account" , new { orderId=order.Id })">View Items</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    }

                    else
                    {
                    <p>No orders found for this user.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    td {
        text-align: center;
        color: black;
        margin-top: 20px;
    }

    td {
        font-size: 15px;
    }
</style>
