@model handmadeShop.Web.Models.UserModel

@{
    ViewBag.Title = "ReservationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["RenderNavbar"] = false;
}

<section class="ftco-section ftco-cart">
    <a style="margin-left:1150px" href="javascript:history.back()" class="btn btn-primary">Back to Previous Page</a>
    <div class="container">
        @if (Model.Reservations != null && Model.Reservations.Any())
        {
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <h3>Reservations:</h3>
                    <div id="cartTable" class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>Reservation ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone Number</th>
                                    <th>Time</th>
                                    <th>Date</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var reservation in Model.Reservations)
                                {
                                <tr class="text-center">
                                    <td>@reservation.Id</td>
                                    <td>@reservation.FirstName</td>
                                    <td>@reservation.LastName</td>
                                    <td>@reservation.PhoneNumber</td>
                                    <td>@reservation.ReservationTime</td>
                                    <td>@reservation.ReservationDate.ToShortDateString()</td>
                                    <td>@reservation.Message</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        }
        else
        {
        <p>No reservations found for this user.</p>
        }
    </div>
</section>
<style>
    td {
        text-align: center;
        color: #fff;
        margin-top: 20px;
    }

    td {
        font-size: 18px;
    }
</style>