@model handmadeShop.Web.Models.ReservationViewModel
@using System.Globalization
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["RenderNavbar"] = true;
}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(/Content/images/Background1.jpeg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">Adorable Handmade Booties and Toys for Little Ones</h1>
                    <p class="mb-4 mb-md-5">Pamper your little ones with handmade booties and toys, crafted from soft and safe materials. These products not only provide comfort and joy but are also perfect for creating unforgettable memories in the early years of life.</p>
                    <p><a href="@Url.Action("Menu","Home")" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="@Url.Action("Menu","Home")" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Products</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(/Content/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">Chic Handcrafted Bags for Every Occasion</h1>
                    <p class="mb-4 mb-md-5">Discover our collection of handmade bags, perfectly crafted to add a touch of elegance to any outfit. Each bag is created with attention to detail and a passion for unique design, combining modern style with functionality.</p>
                    <p><a href="@Url.Action("Menu","Home")" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="@Url.Action("Menu","Home")" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Products</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(/Content/images/Background2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">Cozy Handmade Blankets and Traditional Moldovan Clothes for Your Home</h1>
                    <p class="mb-4 mb-md-5">Beautify your home and wardrobe with handmade blankets and traditional Moldovan clothes, made from natural and high-quality materials. Each product is lovingly and carefully handmade, offering you comfort and style every day.</p>
                    <p><a href="@Url.Action("Menu","Home")" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="@Url.Action("Menu","Home")" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Products</a></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(/Content/images/about.jpg);"></div>
    <div class="one-half ftco-animate">
        <div class="overlap">
            <div class="heading-section ftco-animate ">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Our Story</h2>
            </div>
            <div>
                <p>Mariana Groza has inherited the timeless art of craftsmanship from her grandparents, skillfully mastering the creation of an array of exquisite handmade products. From delicate earrings and bracelets to intricately designed icons, clothes, cozy blankets, charming toys, stylish bags, and adorable booties, each item is a testament to her dedication and artistry. With every piece lovingly crafted and meticulously detailed, Mariana continues her family's rich tradition of exceptional handmade artistry, infusing each creation with a touch of heritage and a lot of heart.</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="media-body">
                        <h3 class="heading">Easy to Order</h3>
                        <p>Simplify your shopping experience with our easy-to-use ordering system. Browse our wide selection of products and complete your purchase in just a few clicks. Ordering has never been easier!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="media-body">
                        <h3 class="heading">Fast Delivery</h3>
                        <p>Need your items in a hurry? Our lightning-fast delivery service ensures that your products reach you promptly. Say goodbye to long waiting times and enjoy the convenience of speedy delivery straight to your doorstep.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="media-body">
                        <h3 class="heading">Quality Products</h3>
                        <p>Elevate your expectations with our range of high-quality products. From carefully sourced materials to meticulous craftsmanship, we take pride in delivering only the finest goods. Experience the difference with our premium-quality offerings.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-menu">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Our Products</h2>
            </div>
        </div>
        <div class="row d-md-flex">
            <div class="col-lg-12 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Jucării Handmade</a>

                            <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Păturici Handmade</a>

                            <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Botoșei</a>

                            <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Bijuterii Handmade</a>

                            <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Gentuțe Handmade</a>

                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">

                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">

                                <div class="row">
                                    @{ var counter = 0; }
                                    @foreach (var item in ViewBag.JucariiHandmade)
                                    {
                                        if (counter < 3)
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4" style="background-image: url(@item.PathImage);"></a>
                                                    <div class="text">
                                                        <h3><a href="#">@item.Name</a></h3>
                                                        <p>Artisans crafting treasures, merging passion, precision, nature's beauty, authenticity, soulful craftsmanship.</p>
                                                        <p class="price"><span>$ @item.Price</span></p>
                                                        <form id="add-item-form" data-item-id="@item.Id" data-item-category="MainDish" action="@Url.Action("AddToCart", "Buy", new { ProductId = item.Id, category = "Jucării handmade" })" method="post">
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="btn btn-primary btn-outline-primary add-to-cart">Add To Cart</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            counter++;
                                        }

                                    }


                                </div>

                            </div>

                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                <div class="row">
                                    @{ counter = 0;}
                                    @foreach (var item in ViewBag.PaturiciHandmade)
                                    {
                                        if (counter < 3)
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4" style="background-image: url(@item.PathImage);"></a>
                                                    <div class="text">
                                                        <h3><a href="#">@item.Name</a></h3>
                                                        <p>Artisans crafting treasures, merging passion, precision, nature's beauty, authenticity, soulful craftsmanship.</p>
                                                        <p class="price"><span>$ @item.Price</span></p>
                                                        <form id="add-item-form" data-item-id="@item.Id" data-item-category="Drink" action="@Url.Action("AddToCart", "Buy", new { ProductId = item.Id, category = "Păturică handmade" })" method="post">
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="btn btn-primary btn-outline-primary add-to-cart">Add To Cart</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            counter++;
                                        }

                                    }

                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                <div class="row">
                                    @{ counter = 0;}
                                    @foreach (var item in ViewBag.Botosei)
                                    {
                                        if (counter < 3)
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4" style="background-image: url(@item.PathImage);"></a>
                                                    <div class="text">
                                                        <h3><a href="#">@item.Name</a></h3>
                                                        <p>Artisans crafting treasures, merging passion, precision, nature's beauty, authenticity, soulful craftsmanship.</p>
                                                        <p class="price"><span>$ @item.Price</span></p>
                                                        <form id="add-item-form" data-item-id="@item.Id" data-item-category="Drink" action="@Url.Action("AddToCart", "Buy", new { ProductId = item.Id, category = "Botoșei" })" method="post">
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="btn btn-primary btn-outline-primary add-to-cart">Add To Cart</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            counter++;
                                        }

                                    }

                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                                <div class="row">
                                    @{ counter = 0;}
                                    @foreach (var item in ViewBag.BijuteriiHandmade)
                                    {
                                        if (counter < 3)
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4" style="background-image: url(@item.PathImage);"></a>
                                                    <div class="text">
                                                        <h3><a href="#">@item.Name</a></h3>
                                                        <p>Artisans crafting treasures, merging passion, precision, nature's beauty, authenticity, soulful craftsmanship.</p>
                                                        <p class="price"><span>$ @item.Price</span></p>
                                                        <form id="add-item-form" data-item-id="@item.Id" data-item-category="Drink" action="@Url.Action("AddToCart", "Buy", new { ProductId = item.Id, category = "Bijuterii handmade" })" method="post">
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="btn btn-primary btn-outline-primary add-to-cart">Add To Cart</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            counter++;
                                        }

                                    }

                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
                                <div class="row">
                                    @{ counter = 0;}
                                    @foreach (var item in ViewBag.GentuteHandmade)
                                    {
                                        if (counter < 3)
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4" style="background-image: url(@item.PathImage);"></a>
                                                    <div class="text">
                                                        <h3><a href="#">@item.Name</a></h3>
                                                        <p>Artisans crafting treasures, merging passion, precision, nature's beauty, authenticity, soulful craftsmanship.</p>
                                                        <p class="price"><span>$ @item.Price</span></p>
                                                        <form id="add-item-form" data-item-id="@item.Id" data-item-category="Dessert" action="@Url.Action("AddToCart", "Buy", new { ProductId = item.Id, category = "Gentuțe handmade" })" method="post">
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="btn btn-primary btn-outline-primary add-to-cart">Add To Cart</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            counter++;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>