@model IEnumerable<handmadeShop.Web.Models.UserModel>
@{
    ViewBag.Title = "OtherUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["RenderNavbar"] = false;
}

<section class="ftco-section ftco-cart">
    <a style="margin-left:1150px" href="javascript:history.back()" class="btn btn-primary">Back to Previous Page</a>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h2>Other Users</h2>

                <table class="table table-striped">
                    <thead class="thead-primary">
                        <tr class="text-center">
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            if (user.Name != "Application Admin")
                            {
                                <tr class="text-center">
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>
                                    <td>@user.Name</td>
                                    <td>@user.Address</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="User Actions">
                                            <!-- Delete user form -->
                                            @using (Html.BeginForm("DeleteUser", "Account", new { username = user.UserName }, FormMethod.Post, new { id = "removeUserForm" }))
                                            {
                                                <p class="action-link" onclick="confirmDelete()">Delete</p>
                                            }

                                            /
                                            @Html.ActionLink("Reservations", "ReservationDetails", new { userId = user.Id }, new { @class = "action-link" })
                                            /
                                            @Html.ActionLink("Orders", "OrdersDetails", "Account", new { userId = user.Id }, new { @class = "action-link" })
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>




            </div>
            </div>
        </div>
</section>

<script>
    function confirmDelete() {
        if (confirm("Are you sure you want to remove the User?")) {
            document.getElementById("removeUserForm").submit();
        }
    }
</script>

<style>
    td {
        text-align: center;
        color: white;
        margin-top: 20px;
    }

    td {
        font-size: 18px;
    }
    .action-link {
        text-decoration: none;
        color: #007bff;
    }

        .action-link:hover {
            text-decoration: underline;
            cursor:pointer;
        }
</style>